@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */

:root {
  --primary-color: #001524;
  --complementary-color: white;
  --box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
  --card-bg: #16364d;
  --complementary-color-2: rgb(212, 212, 212);
  --primary-color-light: #10324b;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: ',Inter' ,'Varela Round', sans-serif; */
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.2em;
}

body{
 background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 60%, rgba(252, 70, 107, 1) 100%);
/* background: radial-gradient(circle, var(--primary-color-light) 60%, var(--primary-color) 100%); */
  color: var(--complementary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.page{
  position: relative;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* background-color: var(--primary-color); */
  
  color: var(--complementary-color);
  /* animation: riseFadeIn 0.8s cubic-bezier(0.25, 0.1, 0.25, 1)  forwards; */
}

.cover{
  backdrop-filter: blur(5px);
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
}

input{
  border: none;
}

input:focus{
  outline: none;
}

@keyframes riseFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
    /* filter: blur(4px); */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* filter: blur(0); */
  }
}

