@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root{
  --primary-color :white;
  --complementary-color:black;
  --box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body{
  background-color: var(--primary-color);
  color: var(--complementary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.page{
  position: relative;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  color: var(--complementary-color);
  animation-name: drop ;
  animation-duration: 1s;
}

.cover{
  backdrop-filter: blur(5px);
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
}

input{
  border: none;
}

input:focus{
  outline: none;
}

@keyframes drop {
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}
