.navbar_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    padding: 0 1rem;
    background-color:var(--primary-color);
    color: var(--complementary-color);
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: min(65rem,100%);
    background-color: inherit;
}




.nav_ul{
    left: -12rem;
    top: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    z-index: 5;
    background-color: inherit;
    color: inherit;
}

.nav_ul li{
    position: relative;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right:0 ;
    bottom: 0;
    z-index: 40;
    background-color:rgb(46, 46, 46,0.5);
    visibility: visible;
    transition: 0.3s ease-in-out;
}

.overlay_hidden{
    visibility: hidden;
    opacity: 0;
}

.underline{
    position: absolute;
    bottom: 0.2rem;
    left:0;
    height: 0.1rem;
    width: 0%;
    background-color: var(--complementary-color);
    transition: 0.3s ease-in-out;
}

.nav_ul li:hover >.underline{
    width: 100%;
}


.dark_mode_wrapper{
    position: relative;
    font-size:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 1.5rem;
    width: 5rem;
    border-radius: 20px;
    border: solid var(--complementary-color) 2px;
    padding: 0.1rem 0.5rem;
    overflow-x: hidden;
    cursor: pointer;
}

.dark_mode_toggle_circle{
    position: absolute;
    left:0.1rem;
    top:0;
    height: calc(100% - 0.2rem);
    width: 30%;
    background-color: var(--complementary-color);
    margin: 0.1rem ;
    border-radius: inherit;
    transition: 0.3s ease-in-out;
}

.right{
    transform:translateX(3rem);
}

.burger{
    display: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: inherit;
    transition: 0.4s ease-in-out;
}

.visible{
    left: 0;
}


.rotate{
    transform: rotate(360deg);
}



@media screen and (max-width:550px) {



    .wrapper_visible{
        display: flex;
        backdrop-filter: blur(3px);
        
    }

    .nav_ul{
        position: fixed;
        width: 12rem;
        top: 3rem;
        bottom: 0;
        flex-direction: column;
        justify-content: flex-start;
        gap:0.3rem;
        z-index: 50;
        transition: 0.3s ease-in-out;
    }

    .nav_ul li{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
